*{
    font-size:16px;
    font-family:'Courier New', Courier, monospace;
    background-color:rgb(185, 239, 255);
    color:rgb(46,135, 252);
}
header h1{
    font-size: 20px;
    text-align:center;
    margin-bottom:10px;
}
ul{
    display:flex;
    justify-content: space-between;
    font-size:20px;
    margin-bottom:10px;
}
li:hover{
    background-color:rgb(46,135, 252);
    color:rgb(185, 239, 255);
    cursor: pointer;
}
img {
    margin-left:auto;
    margin-right:auto;
    height:20%;
    width:20%;
}
#img-caption{
    text-align:center;
    display:block;

}
footer a {
    text-align: center;
    margin-bottom:25px;
}
h2{
    text-align:center;
    font-size:25px;
    margin-bottom:5px;
}
.my-work{
    display:flex;
    justify-content:space-between;
    height:150px;

}
.charlie, .little, .smoke{
    height: 75%;
    width: 75%;
    border: solid 2px;
}
.contact{
    text-align:center;
}
.resume p {
    text-align: center;
    margin-bottom: 10px;
}